* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Georgia', sans-serif; }

.container {
  max-width: 1000px;
  margin: 0 auto; }
.container .row {
  padding: 0 20px; }

section.slider {
  background-color: #f1f1f1;
  height: 466px;
  width: 100%;
  margin-top: 25px; }
section.slider .slider-half {
  padding: 15px 0 10px 0;
  width: 50%;
  float: left;
  position: relative; }
section.slider .slider-half .arrow-left {
  position: absolute;
  top: 40%;
  z-index: 2;
  left: -25px; }
section.slider .slider-half .arrow-right {
  position: absolute;
  top: 40%;
  z-index: 2;
  right: -25px; }

.title-slider {
  font-size: 36px;
  font-weight: 400;
  color: #464646;
  padding-top: 138px; }

.slider-title-description {
  font-size: 16px;
  color: #666666;
  padding-top: 20px; }

.read-more {
  margin-top: 25px;
  width: 125px;
  height: 35px;
  background-color: #0099ff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  transition: transform 0.3s ease-in-out; }
.read-more:hover {
  transform: scale(1.1, 1.1);
  box-shadow: 2px 2px 2px #888888; }

#slider {
  width: 100%; }
#slider .slide {
  float: left;
  list-style: none;
  position: relative;
  display: none; }
#slider .slide.active {
  display: inline-block; }

